@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", serif;
    background-color: #000000;
}
*{
    margin:0px;
    padding: 0px;
}
h1{
    color: #ffffff;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: bolder;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
text-align: center;
}
body{
    width:100%;
    height:max-content;
    min-height: 500px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;     
}
h5{
    color:#ffffff;
    margin-top: 0px;
  margin-bottom: 10px;
    text-align: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size:20px;
    font-weight: 600;
}

p{
    color:#ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

.upper{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/729ce5c2-d831-436a-8c9d-f38fea0b99b3/web/IN-en-20241209-TRIFECTA-perspective_4aef76eb-7d5b-4be0-93c0-5f67320fd878_medium.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
    min-height: 700px;
    width: 100%;
    color: #ffffff;
}
.upper-child{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(25%);
}

.landing-input-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.upper-button{
    padding: 20px 40px;
    border-radius: 4px;
    background-color: #e50914;
    color: #ffffff;
    font-weight:500;
    min-height: 3.5rem;
    font-size: medium;
    border: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.upper-button:hover{
    cursor: pointer;
    background-color: #ac1920;
}

/* .second-section{ */
    /* height: 500px; */
    /* color: #ffffff; */
    /* background: linear-gradient(90deg, #736783 10%, #6cb6f3 90%, transparent 100%); */
.upper-child input{
   margin-top: 0px;
  width:300px;
  padding: 20px 33px;
  border-radius: 3px;
  border-width: 0.3px;
 /* background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/729ce5c2-d831-436a-8c9d-f38fea0b99b3/web/IN-en-20241209-TRIFECTA-perspective_4aef76eb-7d5b-4be0-93c0-5f67320fd878_medium.jpg'); */
 background-color: transparent;
 color: aliceblue;
 position: relative;
}
.older-clid{
    height:100px;
    width:100%;
    /* background-color: aqua; */
    display: flex;
}

.logo{
    height: 50px;
    width: 148px;
    margin-left: 150px;
    margin-top: 20px;
}
.dropdown{
    margin-top: 25px;
    padding:8px 25px;
    background:transparent;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0.3px;
    font-weight: medium;
}
.class-button{
    margin-left:10px;
    margin-top: 25px;
    padding:9px 15px;
    background: #e50914;
    color: #ffffff;
    border-width: 0px;
    border-radius: 4px;
}  
 .line{
    margin-top: 1.375rem;
    position: relative;
  z-index: 3;
  text-align: center;}
 
/* .up-line{
   
    box-sizing: border-box;
  position: relative;
  height: 100%;
  top: 0;
  margin-top: 100px;
  margin: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: solid .25rem transparent;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom: none;
  background: radial-gradient( 50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100% ),black;
  background-clip: padding-box;
} 
 .up-line{
    box-sizing:border-box;
  position:relative;
  height:100%;
  top:40px;
  margin:auto;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  border:solid .25rem transparent;
  border-top-left-radius:50% 100%;
  border-top-right-radius:50% 100%;
  border-bottom:none;
  background:radial-gradient(
                    50% 500% at 50% -420%,
                    rgba(64, 97, 231, 0.4) 80%,
                    rgba(0, 0, 0, 0.1) 100%),black;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
 }
  */
  .trending{
    color: #ffffff;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
  margin-top: 0px;
  margin-left: 150px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  padding: 0;
  }

  .trend-container{
    height: 50px;
    width: 100%;
    background: rgb(223,49,49);
    background: radial-gradient(circle, rgba(223,49,49,1) 35%, rgba(142,33,82,1) 41%, rgba(36,14,15,1) 81%);

    padding-top: 3px;
    border-radius: 36% 35% 25% 25% / 12% 12% 0% 0%;
    transform: translateY(-10px);
  }

  .trend-container-child{
    height: 100%;
    width: 100%;
    border-radius: 35% 35% 30% 30% / 10% 10% 0% 0%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 94%, rgba(3,37,111,1) 100%);
  }
 .trend-container-srihari{
  background-color: #000000;
 
 }

  .trend-card-container{
    padding: 50px;
    background-color: #000000;
    width: 80%;
    margin: 0 auto;
   margin-left: 135px;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .trend-card-container-child{
    display: flex;
    width: max-content;
    

  }
  

  .trend-card{
    height: 263px;
    width: 188px;
    border-radius: 16px;
    position: relative;
    margin: 10px;
  
  }
  .trend-card img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
  }
  .trend-card span{
    position: absolute;
    left: -20px;
    bottom: 0;
    font-size: 82px;
    font-weight: 900;
    text-shadow: 0 0 3px #ffffff;
  }
  .shows{
    margin-left:10px;
    margin-top: 10px;
    padding:9px 17px;
    background:transparent;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0.3px;
    font-weight: medium;
    font-weight: 500;
    font-size: medium;
}
.adi{
  margin-left:150px;
    margin-top: 10px;
    padding:9px 17px;
    background:transparent;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0.3px;
    font-weight: medium;
    font-weight:500;
    font-size: medium;

}
.movie-show{
  display: flex;
 
}
.box{
  color:#ffffff;
  font-size: 1.5rem;
    font-weight: 600;
    margin-left: 150px;
   font-size: 28px;
   margin-top: -25px;
}
.box-card-one{
  
  background: rgb(28,25,50);
background: linear-gradient(158deg, rgba(28,25,50,1) 54%, rgba(33,14,24,1) 79%);
 margin-left: 150px;
 margin-top: 10px;
color: #ffffff;
margin-right:150px;
padding: 40px 30px;
height: 250px;
width: 200px;
border-radius: 14px;

}
.box-card-two{
  
  background: rgb(28,25,50);
background: linear-gradient(158deg, rgba(28,25,50,1) 54%, rgba(33,14,24,1) 79%);
  color: #ffffff;
  margin-left: -130px;
 margin-top: 10px;
color: #ffffff;
margin-right:150px;
padding: 40px 30px;
height: 250px;
width: 200px;
border-radius: 14px;
}
.box-card-three{
  
  background: rgb(28,25,50);
background: linear-gradient(158deg, rgba(28,25,50,1) 54%, rgba(33,14,24,1) 79%);
color: #ffffff;
margin-left: -130px;
margin-top: 10px;
color: #ffffff;
margin-right:150px;
padding: 40px 30px;
height: 250px;
width: 200px;
border-radius: 14px;
}
.box-card-four{
  
  background: rgb(28,25,50);
background: linear-gradient(158deg, rgba(28,25,50,1) 54%, rgba(33,14,24,1) 79%);
  color: #ffffff;
  margin-left: -130px;
  margin-top: 10px;
 color: #ffffff;
 margin-right:150px;
 padding: 40px 30px;
 height: 250px;
 width: 200px;
 border-radius: 14px;
}
.first-box{
   display: flex;
   
}
.card-one{
  padding:2px 3px 1px 3px;
  margin-top: -30px;
  margin-left: -10px;
  margin-right: auto;
}
.card-one-child{
 
  padding: 15px 15px 15px 15px ;
  margin-left: -20px;
  font-size: 1rem;
  font-weight: 400;
  
}
.card-two{
  padding:2px 3px 1px 3px;
  margin-top: -30px;
  margin-left: -10px;
  margin-right: auto;
}
.card-two-child{
  padding: 15px 15px 15px 15px ;
  margin-left: -20px;
  font-size: 1rem;
  font-weight: 400;
}
.card-three{
  padding:2px 3px 1px 3px;
  margin-top: -30px;
  margin-left: -10px;
  margin-right: auto;

}
.card-three-child{
  padding: 15px 15px 15px 15px ;
  margin-left: -20px;
  font-size: 1rem;
  font-weight: 400;
}
.card-four{
  padding:2px 3px 1px 3px;
  margin-top: -30px;
  margin-left: -10px;
  margin-right: auto;
}
.card-four-child{
  padding: 15px 15px 15px 15px ;
  margin-left: -20px;
  font-size: 1rem;
  font-weight: 400;
}
.box-two{
 color: #ffffff;
 font-size: 1.5rem;
    font-weight: 600;
    margin-left: 150px;
   font-size: 28px;
   margin-top: 40px;
}
.car{
 background-color: #414141;
 color: #ffffff;
 margin-left: 150px;
 margin-top: 10px;
 width: 75%;
 height: 68px;
 text-align: left;
 padding-left: 20px;
 font-size: 25px;
 font-weight: 300;
 border-color:#414141 ;
 cursor: pointer;
}
.bmw{
  background-color: #414141;
 color: #ffffff;
 margin-left: 150px;
 margin-top: 7px;
 width: 75%;
 height: 68px;
 text-align: left;
 padding-left: 20px;
 font-size: 25px;
 font-weight: 300;
 border-color:#414141 ;
 cursor: pointer;
}
.audi{
  background-color: #414141;
 color: #ffffff;
 margin-left: 150px;
 margin-top: 7px;
 width: 75%;
 height: 68px;
 text-align: left;
 padding-left: 20px;
 font-size: 25px;
 font-weight: 300;
 border-color:#414141 ;
 cursor: pointer;
}
.honda{
  background-color: #414141;
 color: #ffffff;
 margin-left: 150px;
 margin-top: 7px;
 width: 75%;
 height: 68px;
 text-align: left;
 padding-left: 20px;
 font-size: 25px;
 font-weight: 300;
 border-color:#414141 ;
 cursor: pointer;
}
.benze{
  background-color: #414141;
 color: #ffffff;
 margin-left: 150px;
 margin-top: 7px;
 width: 75%;
 height: 68px;
 text-align: left;
 padding-left: 20px;
 font-size: 25px;
 font-weight: 300;
 border-color:#414141 ;
 cursor: pointer;
}
.gt650{
  background-color: #414141;
 color: #ffffff;
 margin-left: 150px;
 margin-top: 7px;
 width: 75%;
 height: 68px;
 text-align: left;
 padding-left: 20px;
 font-size: 25px;
 font-weight: 300;
 border-color:#414141 ;
 cursor: pointer;
}
.line-gap{
  margin-top:80px ;
}
.text-two{
  width: 500px;
  margin-top: 10px;
  margin-left: 230px;
  padding: 20px 40px;
  border-radius: 4px;
  background-color: transparent;
  color: #b4afaf;
  font-size: 15px;
  border-width: 0.3px;
}
.upper-button-two{
  margin-top: 10px;
  padding: 20px 40px;
    border-radius: 4px;
    background-color: #e50914;
    color: #ffffff;
    font-weight:500;
    min-height: 3.5rem;
    font-size:20px ;
    font-weight: bold;
    font-stretch: expanded;
    font-size: medium;
    border: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.lower-parent{
  background-color: #000000;
  height: 500px;
}
.lower-one{
  color:#ffffff;
}



@media (max-width: 1199px){
  .dropdown{
    margin-left: 10px;
  }
  h1{
    margin: 0 auto;
  }
}
.shesan{
  color: #ffffff;
}

@media (min-width: 1200px){
  .dropdown{
    margin-left: 650px;
  }
  h1{
    margin-right: 300px;
    margin-left: 350px;
  }
}